@{
    ViewData["Title"] = "Product Details";
}




<section id="header2">
    <div class="row head-img">
        <h1>Product Details</h1>
    </div>
</section>

<section id="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div id="big-photo">
                    <div id="small-photo">
                        <div>
                            <img src="~/assets/img/product-detail/prod-det-1.jpg" />
                        </div>
                        <div>
                            <img src="~/assets/img/product-detail/prod-det-2.jpg" />
                        </div>
                        <div>
                            <img src="~/assets/img/product-detail/prod-det-3.jpg" />
                        </div>
                        <div>
                            <img src="~/assets/img/product-detail/prod-det-4.jpg" />
                        </div>
                    </div>
                    <div id="middle-photo">
                        <img id="photo" src="~/assets/img/product-detail/prod-det-1.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <span>Back to shop</span>
                <h2>White T-Shirt</h2>
                <a href="">ADD A REVIEW</a><br /><br />
                <p class="price">$ 19.45</p>
                <span><b>Availablity</b> :</span> <span>In Stocks</span><br />
                <span><b>Product Code</b> :</span> <span>#EM1208</span><br />
                <span><b>Tags</b> :</span> <span>Women</span><br /><br />
                <p>
                    Sit amet consectetur, adipisicing elit. Distinctio aperiam
                    debitis ipsa veniam eos quas excepturi quae? Recusandae
                    distinctio nihil quia quis, eaque aspernatur perferendis
                    repudiandae adipisci labore, impedit beatae!
                </p>
                <li>Slim Fit</li>
                <li>100% Cotton</li>
                <li>Free Shipping and delivery in 4 Days</li>
                <br />
                <select>
                    <option>Red</option>
                    <option>Green</option>
                    <option>Blue</option>
                    <option>Yellow</option>
                </select>
                <select>
                    <option>36</option>
                    <option>38</option>
                    <option>40</option>
                    <option>42</option>
                    <option>44</option>
                    <option>46</option>
                    <option>47</option>
                </select>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select><br /><br />
                <a href="">Add To Wishlit</a><br /><br />
                <button class="first">Add To Cart</button>
                <button class="second">Add To Cart</button><br /><br /><br />
                <div class="share">
                    <span>Share Now</span>
                    <div class="social">
                        <div class="soc">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="soc">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="soc">
                            <i class="fa-brands fa-google"></i>
                        </div>
                        <div class="soc">
                            <i class="fa-brands fa-square-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="new-arriwals">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>You Might Also Like</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="productFirst">
                    <i class="fa-solid fa-heart"></i>
                    <img src="~/assets/img/product-detail/arriwal-1.jpg" alt="" />
                </div>
                <div class="productFirstInfo">
                    <a href="">
                        <h5>Google - Chromecast - Black</h5>
                    </a>
                    <div class="shop-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <span>$ 35</span>
                    <div class="star-icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="productFirst">
                    <i class="fa-solid fa-heart"></i>
                    <img src="~/assets/img/product-detail/arriwal-2.jpg" alt="" />
                </div>
                <div class="productFirstInfo">
                    <a href="">
                        <h5>Google - Chromecast - Black</h5>
                    </a>
                    <div class="shop-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <span>$ 35</span>
                    <div class="star-icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="productFirst">
                    <i class="fa-solid fa-heart"></i>
                    <img src="~/assets/img/product-detail/arriwal-3.jpg" alt="" />
                </div>
                <div class="productFirstInfo">
                    <a href="">
                        <h5>Google - Chromecast - Black</h5>
                    </a>
                    <div class="shop-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <span>$ 35</span>
                    <div class="star-icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="productFirst">
                    <i class="fa-solid fa-heart"></i>
                    <img src="~/assets/img/product-detail/arriwal-4.jpg" alt="" />
                </div>
                <div class="productFirstInfo">
                    <a href="">
                        <h5>Google - Chromecast - Black</h5>
                    </a>
                    <div class="shop-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <span>$ 35</span>
                    <div class="star-icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="shop-now-btn">
                    <button>Shop Now</button>
                </div>
            </div>
        </div>

    </div>
</section>



@section Scripts {
    <link rel="stylesheet" href="~/assets/css/product-details/product.css">
}



@section ScriptsJs {
    <script src="~/assets/js/product-details.js"></script>
}


